  <div class="span12" id="homepage" align="center">
  	<div class="hero-unit" style="height: 600px; padding-left: 0px; padding-right: 0; padding-top: 10px;">
	  <span>
		 <%= image_tag "retrackHow.png", :width => "960px" %>
	  </span>
	  <h2>Love, Share and Retrack</h2>
	  <p>Retrack is currently in beta</p>
	  <p>
		<%= link_to "Log in", signin_path,  :class=>"btn btn-primary btn-large" %>
	    <!-- <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-large" %> -->
	  </p><br/>
	</div>
	
		 
  </div>
