  <div class="span12" id="homepage" align="center">
  	<div class="hero-unit">
	  <h2>Something amazing is about to begin</h2>
	  <p>Retrack is currently in beta invite only</p>
	  <p>
		<%= link_to "Log in", signin_path,  :class=>"btn btn-primary btn-large" %>
	    <!-- <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-large" %> -->
	  </p>
	</div>
  </div>
